DATABASE_PROFILE=dev

DATABASE_NAME=stage
DATABASE_USER=user
DATABASE_PASSWORD=password

JWT_SECRET=secret
JWT_TTL=3600000
JWT_ISSUER=http://0.0.0.0:8080/
JWT_AUDIENCE=http://0.0.0.0:8080/hello
STORE_PATH=TEMP_STORE

API_PORT=8080
WORKER_PORT=9020

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

WORKSPACE_URL=
SERVER_URL=
